{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block help %}

<div style="padding:12px; background:#fefefe;color:#333">
    <h3>Welcome to this website ʕ•́ᴥ•̀ʔっ</h3>
    <p><i>This is the help section.</i><p>
</div>

<hr>

<div style="padding:12px; background:#fefefe;color:#333; margin-bottom:12px">
    <h4>Pages</h4>
    <ul>
        <li>
            <p><a href="/">/</a> : home page.</p>
        </li>
        <li>
            <p><a href="/signin">/signin</a> : to log in. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/register">/register</a> : to register. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/directory">/directory</a> : list all users (+ search). <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/chat">/chat/{channel}</a> : to chat ("default" if no {channel}). <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/theme">/theme</a> : to see the (bootstrap) theme.</p>
        </li>
        <li>
            <p><a href="/spreadsheet">/spreadsheet</a> : simple spreadsheet. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/formations">/formations</a> : <span class="label label-warning">Working</span></p>
        </li>
        <li>
            <p><a href="{{path('fileslist')}}">/files/list</a> : <span class="label label-warning">Working</span></p>
        </li>
    </ul>
</div>
{% endblock %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world! ʕ•ᴥ•ʔ</h1>
    <p>
        This an awesome website, using the powerfull <a href="https://symfony.com/">Symfony 3</a>.<br>
        You can get some help by clicking the blue 'help' banner.
        If you encounter problems, that's normal,
        computers are able to make very fast, very accurate mistakes.
    </p>
    <p><a class="btn btn-primary btn-lg" href="https://github.com/XAMEUS/PW6" role="button">View source &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Responsive website</h2>
      <p>Using <a href="http://getbootstrap.com/">bootstrap</a>, <i>the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web</i>.</p>
      <p><a class="btn btn-default" href="{{path('directory')}}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Chat</h2>
      <p>Chat system, an unlimited number of channels. Specify your channel in url (/chat/{channel}) or in the blue section.</p>
      <p><a class="btn btn-default" href="/chat" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Formations</h2>
      <p>Manage formations: catalog... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <p><a class="btn btn-default" href="{{path('formations')}}" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

{% endblock %}


{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
