{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block help %}

<div style="padding:12px; background:#fefefe;color:#333">
    <h3>Welcome to this website ʕ•́ᴥ•̀ʔっ</h3>
    <p><i>This is the help section.</i><p>
</div>

<hr>

<div style="padding:12px; background:#fefefe;color:#333; margin-bottom:12px">
    <h4>Pages</h4>
    <ul>
        <li>
            <p><a href="/">/</a> : home page.</p>
        </li>
        <li>
            <p><a href="/signin">/signin</a> : to log in. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/register">/register</a> : to register. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/directory">/directory</a> : list all users (+ search). <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/chat">/chat/{channel}</a> : to chat ("default" if no {channel}). <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/theme">/theme</a> : to see the (bootstrap) theme.</p>
        </li>
        <li>
            <p><a href="/spreadsheet">/spreadsheet</a> : simple spreadsheet. <span class="label label-success">Done</span></p>
        </li>
        <li>
            <p><a href="/formations">/formations</a> : <span class="label label-warning">Working</span></p>
        </li>
        <li>
            <p><a href="/about">/about</a> : <span class="label label-danger">TODO</span></p>
        </li>
    </ul>
    <h4>Routing list</h4>
<pre>
-------------------------- -------- -------- ------ -----------------------------------
 Name                       Method   Scheme   Host   Path
-------------------------- -------- -------- ------ -----------------------------------
 _wdt                       ANY      ANY      ANY    /_wdt/{token}
 _profiler_home             ANY      ANY      ANY    /_profiler/
 _profiler_search           ANY      ANY      ANY    /_profiler/search
 _profiler_search_bar       ANY      ANY      ANY    /_profiler/search_bar
 _profiler_info             ANY      ANY      ANY    /_profiler/info/{about}
 _profiler_phpinfo          ANY      ANY      ANY    /_profiler/phpinfo
 _profiler_search_results   ANY      ANY      ANY    /_profiler/{token}/search/results
 _profiler                  ANY      ANY      ANY    /_profiler/{token}
 _profiler_router           ANY      ANY      ANY    /_profiler/{token}/router
 _profiler_exception        ANY      ANY      ANY    /_profiler/{token}/exception
 _profiler_exception_css    ANY      ANY      ANY    /_profiler/{token}/exception.css
 _twig_error_test           ANY      ANY      ANY    /_error/{code}.{_format}
 chat_show                  ANY      ANY      ANY    /chat/{channel}
 chat_post                  ANY      ANY      ANY    /chat/post/{channel}
 chat_list                  ANY      ANY      ANY    /chat/list/{channel}
 homepage                   ANY      ANY      ANY    /
 register                   ANY      ANY      ANY    /register
 dashboard                  ANY      ANY      ANY    /dashboard
 theme                      ANY      ANY      ANY    /theme
 directory                  ANY      ANY      ANY    /directory
 userlist                   ANY      ANY      ANY    /userlist
 spreadsheet                ANY      ANY      ANY    /spreadsheet
 newformation               ANY      ANY      ANY    /formations/newformation
 formations                 ANY      ANY      ANY    /formations
 formation                  ANY      ANY      ANY    /formation/{id}
 formationapplicant         ANY      ANY      ANY    /formationapplicant
 joinformation              ANY      ANY      ANY    /formations/joinformation
 formationaddapplicant      ANY      ANY      ANY    /formations/addapplicant
 formationrmapplicant       ANY      ANY      ANY    /formations/rmapplicant
 formationaddintraining     ANY      ANY      ANY    /formations/addintraining
 formationrmintraining      ANY      ANY      ANY    /formations/rmintraining
 validationformations       ANY      ANY      ANY    /formations/validation
 myjoursformation           ANY      ANY      ANY    /myJoursformation
 mybudgetformation          ANY      ANY      ANY    /myBudgetformation
 acceptapplicantformation   ANY      ANY      ANY    /acceptApplicantFormation
 signin                     ANY      ANY      ANY    /signin
 logout                     ANY      ANY      ANY    /logout
-------------------------- -------- -------- ------ -----------------------------------
</pre>

</div>
{% endblock %}

{% block body %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; 2015 Company, Inc.</p>
  </footer>
</div> <!-- /container -->

{% endblock %}


{% block javascripts %}
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="../../dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
