{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/signin.css') }}">
{% endblock %}

{% block body %}

<div class="container">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <div class="post-preview">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
