{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/signin.css') }}">
<style>
    body {padding-top:0}
</style>
{% endblock %}

{% block help %}

<div style="padding:12px; background:#fefefe;color:#333">
    <h4>Create a new user! &nbsp; (ʘ‿ʘ)</h4>
    <p>Just use the form below.<p>
</div>
<hr>

<div style="padding:12px; background:#fefefe;color:#333; margin-bottom:12px">
    <h4>Details</h4>
    <p>We use some security routines...</p>
</div>
{% endblock %}

{% block nav %}{% endblock %}
{% block blockdebug %}{% endblock %}

{% block body %}

<div class="container" style="padding-top:12px">

  <div class="container">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
  </div>

</div> <!-- /container -->


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
