{% extends 'base.html.twig' %}

{% block body %}

<div class="container top-buffer">

    <div class="row">
        <ul class="nav nav-tabs">
            <li {% if path(app.request.attributes.get('_route')) == "/formations" %} class="active" {% endif %}><a href="{{path('formations')}}">Formations</a></li>
            <li {% if path(app.request.attributes.get('_route')) == "/formations/validation" %} class="active" {% endif %}><a href="{{path('validationformations')}}">Validation</a></li>
            <li {% if path(app.request.attributes.get('_route')) == "/formations/newformation" %} class="active" {% endif %}><a href="{{path('newformation')}}">New Formation</a></li>
        </ul>
    </div>
    <div class="row">
        <h4 id="joursformations">Jours de formations restant : </4>
    </div>
    {% block formationsbody %}{% endblock %}
</div>

{% endblock %}

{% block javascripts %}

    <script src="http://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{{ asset('js/formations.js') }}"></script>

{% endblock %}
